<script>
    $(function () {

        size_li = $("#followers-list li").size();
        x=3;
        $('#followers-list li:lt('+x+')').show();
        $('#showMoreFollowers').click(function () {
            x= (x+3 <= size_li) ? x+3 : size_li;
            $('#followers-list li:lt('+x+')').show();
        });

        size_li = $("#followings-list li").size();
        x=3;
        $('#followings-list li:lt('+x+')').show();
        $('#showMoreFollowings').click(function () {
            x= (x+3 <= size_li) ? x+3 : size_li;
            $('#followings-list li:lt('+x+')').show();
        });

        $('#followers-list').searchable({
            searchField: '#followers-list-search',
            selector: 'li',
            childSelector: '.col-xs-12',
            show: function( elem ) {
                elem.slideDown(100);
            },
            hide: function( elem ) {
                elem.slideUp( 100 );
            }
        })

        $('#followings-list').searchable({
            searchField: '#followings-list-search',
            selector: 'li',
            childSelector: '.col-xs-12',
            show: function( elem ) {
                elem.slideDown(100);
            },
            hide: function( elem ) {
                elem.slideUp( 100 );
            }
        })
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="well panel panel-default">

                 <!--Modal for Followers -->
                <div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="followersLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="followersLabel">Follower List</h3>
                                <!--<div class="col-xs-12">-->
                                    <div class="input-group c-search">
                                        <input type="text" class="form-control" id="followers-list-search">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                                        </span>
                                    </div>
                                <!--</div>-->
                            </div>
                            <!--<div class="modal-body">-->

                                <!--IDK HOW TO CREATE A SCOPE FOR -->
                                <!--ng-repeat="follower in followers"-->

                                <ul class="list-group" id="followers-list">
                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img  src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="ava img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="name">Scott Stevens</span><br/>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier" class="ava img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="name">Seth Frazier</span><br/>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers" class="ava img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="name">Jean Myers</span><br/>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="http://api.randomuser.me/portraits/men/24.jpg" alt="Todd Shelton" class="ava img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="name">Todd Shelton</span><br/>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="http://api.randomuser.me/portraits/women/34.jpg" alt="Rosemary Porter" class="ava img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="name">Rosemary Porter</span><br/>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="http://api.randomuser.me/portraits/women/56.jpg" alt="Debbie Schmidt" class="ava img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="name">Debbie Schmidt</span><br/>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-xs-12 col-sm-3">
                                            <img src="http://api.randomuser.me/portraits/women/76.jpg" alt="Glenda Patterson" class="ava img-circle" />
                                        </div>
                                        <div class="col-xs-12 col-sm-9">
                                            <span class="name">Glenda Patterson</span><br/>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>

                            <!--</div>-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="showMoreFollowers">Show more</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Modal for Followings -->
                <div class="modal fade" id="followings" tabindex="-1" role="dialog" aria-labelledby="followingsLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="followingsLabel">Follower List</h3>
                                <!--<div class="col-xs-12">-->
                                <div class="input-group c-search">
                                    <input type="text" class="form-control" id="followings-list-search">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                                        </span>
                                </div>
                                <!--</div>-->
                            </div>
                            <!--<div class="modal-body">-->

                            <!--IDK HOW TO CREATE A SCOPE FOR -->
                            <!--ng-repeat="follower in followings"-->

                            <ul class="list-group" id="followings-list">
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img  src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="ava img-circle" />
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <span class="name">Scott Stevens</span><br/>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier" class="ava img-circle" />
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <span class="name">Seth Frazier</span><br/>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers" class="ava img-circle" />
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <span class="name">Jean Myers</span><br/>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="http://api.randomuser.me/portraits/men/24.jpg" alt="Todd Shelton" class="ava img-circle" />
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <span class="name">Todd Shelton</span><br/>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="http://api.randomuser.me/portraits/women/34.jpg" alt="Rosemary Porter" class="ava img-circle" />
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <span class="name">Rosemary Porter</span><br/>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="http://api.randomuser.me/portraits/women/56.jpg" alt="Debbie Schmidt" class="ava img-circle" />
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <span class="name">Debbie Schmidt</span><br/>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="http://api.randomuser.me/portraits/women/76.jpg" alt="Glenda Patterson" class="ava img-circle" />
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <span class="name">Glenda Patterson</span><br/>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>

                            <!--</div>-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="showMoreFollowings">Show more</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="http://api.randomuser.me/portraits/women/21.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <h2>{{user.login}}</h2>
                            <p><strong>Info: </strong> Bla Bla Bla. </p>
                            <p><strong>Awards: </strong>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                            </p>
                            <p><strong>Tags: </strong>
                                <span class="label label-info tags">running</span>
                                <span class="label label-info tags">guitar</span>
                                <span class="label label-info tags">Spanish</span>
                                <span class="label label-info tags">cooking</span>
                            </p>
                        </div>
                        <!--/col-->
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4 text-center">
                            <h2><strong> 20,7K </strong></h2>
                            <p><small>followings</small>
                            </p>
                            <button data-toggle="modal" data-target="#followers" class="btn btn-info btn-block"><span class="fa fa-th-list"></span> Follower List </button>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4 text-center">
                            <h2><strong>245</strong></h2>
                            <p><small>Following</small>
                            </p>
                            <button data-toggle="modal" data-target="#followings" class="btn btn-info btn-block"><span class="fa fa-th-list"></span> Following List </button>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4 text-center">
                            <h2><strong>43</strong></h2>
                            <p><small>Completed tasks</small>
                            </p>
                            <a href="/settings">
                                <button type="button" class="btn btn-primary btn-block" ng-class="myElementClass"><span class="fa fa-gear"></span> Edit Page </button>
                            </a>
                            <!-- HIDDEN VARIANT FOR NOT OWN PAGE: "FOLLOW/UNFOLLOW" BUTTON -->
                            <button type="button"  class="btn btn-success btn-block" ng-class="foreignElementClass"><span class="fa fa-plus-circle"></span> Follow </button>
                        </div>
                        <!--/col-->
                    </div>
                    <!--/row-->
                    <hr>

                    <h3 class="text-center">Tasks</h3>

                    <!--<div ng-controller="EditableRowCtrl">-->
                    <div>
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:15%">Name</td>
                                <td style="width:15%">Date</td>
                                <td style="width:30%">Description</td>
                                <td style="width:20%">Tags</td>
                                <td style="width:20%" ng-class="myElementClass">Actions</td>
                            </tr>
                            <tr ng-repeat="task in tasks">
                                <td>
                                    <!-- editable taskname -->
                                    <span editable-text="task.name" e-name="name" e-form="rowform" e-required onbeforesave="check($data)">
                                      {{ task.name }}
                                    </span>
                                </td>
                                <td>
                                    <!--<a editable-bsdate="task.date" e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="dd-MMMM-yyyy" e-form="rowform">-->
                                        <!--{{ (task.date | date:"dd/MM/yyyy") || 'empty' }}-->
                                    <!--</a>-->

                                    <span onbeforesave="check($data)" e-form="rowform" e-required editable-bsdate="task.date" e-ng-click="opened = !opened" e-is-open="opened" e-datepicker-popup="dd.MM.yyyy" e-name="date">
                                        {{(task.date | date:"dd.MM.yyyy")}}
                                    </span>
                                </td>
                                <td>
                                    <!-- editable description  -->
                                    <span editable-text="task.description" e-name="description" e-form="rowform">
                                      {{ task.description }}
                                    </span>
                                </td>
                                <td>
                                    <!-- editable tags  -->
                                    <span editable-text="task.tags" e-name="tags" e-form="rowform" e-required>
                                      {{ task.tags }}
                                    </span>

                                </td>
                                <td style="white-space: nowrap" ng-class="myElementClass">
                                    <!-- form -->
                                    <form editable-form name="rowform" onbeforesave="saveTask($data, task.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == task">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                            save
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                            cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="btn btn-success" ng-class="myElementClass" ng-click="done($index)">done</button>
                                        <button class="btn btn-primary" ng-class="myElementClass" ng-click="rowform.$show()">edit</button>
                                        <button class="btn btn-danger" ng-class="myElementClass" ng-click="giveUp($index)">give up</button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <button class="btn btn-default" ng-class="myElementClass" ng-click="addTask()">Add task</button>
                    </div>

                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->